<h1>Questions</h1>

<% if @questions.any? %>

    <% @questions.each do |question| %>
      <p><%= link_to question.query, question_path(question) %></p>
    <% end %>

<% else %>
  <p>There are no questions yet.</p>
<% end %>


<p><%= link_to "Create new question", new_question_path %></p>
<p><%= link_to "See all users", users_path %></p>
